@page "/Coches/n"
@using Actividad18.Shared.Models
@inject NavigationManager navegator
@inject HttpClient http


<h3>Nuevo Coche</h3>

<EditForm Model="cliente" OnValidSubmit="añadir">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="dtFechaI" class="form-label">Modelo</label>
        <InputText id="dtFechaI" class="form-control" @bind-Value="cliente.Modelo" />
    </div>
    <div class="mb-3">
        <label for="dtFechaI" class="form-label">Marca</label>
        <InputText id="dtFechaI" class="form-control" @bind-Value="cliente.Marca" />
    </div>
    <div class="mb-3">
        <label for="dtFechaI" class="form-label">Año</label>
        <InputText id="dtFechaI" class="form-control" @bind-Value="cliente.año" />
    </div>
    <div class="mb-3">
        <label for="numprecio" class="form-label">Kilometraje</label>
        <InputNumber id="numprecio" class="form-control" @bind-Value="cliente.kilometraje" />
    </div>
    <div class="mb-3">
        <label for="numCoche" class="form-label">Estado</label>
        <InputNumber id="numCoche" class="form-control" @bind-Value="cliente.estado" />
    </div
    <div class="mb-3">
        <label for="numId" class="form-label">Id del Alquiler</label>
        <InputNumber id="numId" class="form-control" @bind-Value="cliente.AlquilerId" />
    </div>
    <button type="submit" class="btn btn-primary">Añadir</button>
</EditForm>


@code {
    private Coches cliente = new Coches();
    private async void añadir()
    {
        await http.PostAsJsonAsync("api/Coches", cliente);
        navegator.NavigateTo("/Coches");
    }
}