@page "/Clientes/e/{id:int}";
@using Actividad18.Shared.Models;
@inject HttpClient http
@inject NavigationManager navegator

<h3>Cambios de Cliente</h3>

<EditForm Model="cliente" OnValidSubmit="edit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="txtNombre" class="form-label">Nombre</label>
        <InputText id="txtNombre" class="form-control" @bind-Value="cliente.nombre" />
    </div>
    <div class="mb-3">
        <label for="txtNumID" class="form-label">Numero de Identificacion</label>
        <InputText id="txtNumID" class="form-control" @bind-Value="cliente.direccion" />
    </div>
    <div class="mb-3">
        <label for="txtEmail" class="form-label">Correo Electronico</label>
        <InputText id="txtEmail" class="form-control" @bind-Value="cliente.email" />
    </div>
    <div class="mb-3">
        <label for="txtTelefono" class="form-label">Telefono</label>
        <InputText id="txtTelefono" class="form-control" @bind-Value="cliente.conducir" />
    </div>
    <button type="submit" class="btn btn-primary">Añadir</button>
</EditForm>


@code {
    [Parameter]
    public int id { get; set; }
    private Cliente cliente = new Cliente();

    protected override async Task OnInitializedAsync()
    {
        cliente = await http.GetFromJsonAsync<Cliente>($"api/Clientes/{id}");
    }

    private async void edit()
    {
        await http.PutAsJsonAsync($"api/Clientes/{id}", cliente);
        navegator.NavigateTo("/Clientes");
    }
}

